Package: enigma2-plugin-extensions-stvcl
Version: 1.2
Section: extra
Priority: optional
Architecture: all
Maintainer: @lululla
Description: stvcl is smart tv plugin 
Source: @lululla
Homepage: tivustream.com
Depends: python-imaging | python3-imaging, python-requests | python3-requests
OE: 2.0-2.2-2.5
License: O.S.
